# Add your env variables here
# Suggestion: create a .env.local, .env.dev and .env.prod
# You can use make envs for that
# make {local/dev/prod} will export the env variables locally in
# your system

export API_URL=http://localhost:8080
export MONGO_URI=mongodb://localhost:16521
export OPENWEATHER_API_KEY={YOUR_KEY_HERE}
export NODE_ENV=local
